@charset "utf-8";
// 弹出框样式
.popDialog /deep/ .el-dialog{
  // width:31%;
  width:436px;
  margin-top: 30vh !important;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.30);
  border-radius: 20px;
  // 弹框头部
  .el-dialog__header{
    text-align: center;
    padding:0;
    height:70px;
    line-height: 70px;
    background:#fff;
    .el-dialog__title{
      font-size:14px;
      color: #E9E9E9;
    }
    .el-dialog__headerbtn{
      width:16px;
      height:18px;
      i{
        position: absolute;
        top:0;
        left:0;
      }
    }
  }
  // 弹框内容部分
  .el-dialog__body{
    padding-top:10px;
    padding-bottom: 4px;
    //background:$maincolor;
    .el-form{
      .el-form-item__label{
        font-size:12px;
        //color:$lightfontColor;
        line-height: 30px;
        text-align: left;
      }
      .el-form-item{
        margin-bottom: 20px;
      }
      .el-form-item__content{
        display:flex;
        line-height: 30px;
        .el-button{
          border-radius: 0;
          padding:0 18px;
          margin-left:7px;
          font-size:12px;
          color:#fff;
          span{
            color:#fff;
          }
        }
      }
      .el-textarea__inner{
        border-radius: 0;
        height:136px;
        font-size:12px;
      }
    }
    .el-input__inner{
      border-radius: 0;
      font-size:12px;
    }
  }
  // 底部按钮
  .el-dialog__footer{
    text-align: center;
    //background:$maincolor;
    background:#fff;
    .el-button{
      border-radius: 5px;
      font-size:14px;
      color:#4A4A4A;
      width:96px;
      height:40px;
      span{
        font-size:14px;
      }
    }
    .btn_confirm{
      //background-color:$mainbgColor;
      span{
        color:#fff;
      }
    }
    .btn_cancel{
      background:#4A4A4A;
    }
  }
}

